/* Navbar container */
.navbar {
    background-color: #1d2821;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  

  .nav-items li {
    margin-left: 15px;
  }
  

  .nav-items li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
 
  .nav-items li a:hover {
    color: #6ce972;
  }
  