/* Style the logo row */
.logo-row {
    text-align: center; /* Center the content horizontally */
    display: block;
    margin: 0 auto; /* Center the block element within its container */
}

/* Style the logo corner */
.logo-corner {
    text-align: left; /* Align the content to the left */
    display: block;
    margin: 0 auto; /* Center the block element within its container */
    position: absolute; /* Position the element absolutely */
    left: 90%; /* Position the element 90% from the left side of its containing element */
    top: 50px; /* Position the element 50 pixels from the top of its containing element */
}

/* Style the main logo */
.logo {
    width: 80px;
    height: 60px;
    text-align: center; /* Center the text horizontally */
}

/* Style a smaller version of the logo */
.logo-small {
    width: 40px;
    height: 30px;
    text-align: center; /* Center the text horizontally */
}

/* Style the first-level heading */
h1 {
    font-size: 4vmin;
    line-height: 1.3;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(to right, #6ce972, #ccff33); /* Apply a gradient background to the text */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
    text-align: center; /* Center the text horizontally */
}

/* Style the second-level heading */
h2 {
    font-size: 3vmin;
    line-height: 1.3;
    font-family: "Dank Mono", ui-monospace, monospace;
    color: #fff; /* Set the text color to white */
    text-align: center; /* Center the text horizontally */
}

/* Style the third-level heading */
h3 {
    font-size: 2vmin;
    line-height: 0.8;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(to right, #80ff90, #80ff90, #ccff33, #ccff33); /* Apply a gradient background to the text */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
    text-align: center; /* Center the text horizontally */
}

/* Style the fourth-level heading */
h4 {
    font-size: 1.5vmin;
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    color: #fff; /* Set the text color to white */
    text-align: center; /* Center the text horizontally */
}

/* Set the height of the HTML element to 100% */
html {
    height: 100%;
}

/* Style the body element */
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#1d2821, #1d2128); /* Apply a gradient background */
    background-repeat: no-repeat;
    height: 100%; /* Set the body height to 100% */
    background-attachment: fixed; /* Fix the background to the viewport */
}

/* Style the logout button */
.log-out {
    left: 75%;
}

/* Style header buttons */
.header-button {
    position: absolute;
    top: 45px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    color: #fff;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128); /* Apply a gradient background */
    box-shadow: 0 10px 15px rgba(47, 104, 38, 0.60); /* Add a shadow to the button */
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 12px; /* Round the corners of the button */
    border-color: #6ce972; /* Set the border color */
}

/* Style header buttons on hover */
.header-button:hover {
    background: linear-gradient(#304538, #2b3834); /* Apply a different gradient on hover */
    color: #fff;
    border-radius: 5px; /* Slightly round the corners on hover */
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304; /* Add a glowing effect on hover */
}

/* Style the search box */
.search-box {
    width: 500px;
    position: relative;
    top: 5%;
    height: 1%;
    padding: 20px;
    margin: auto;
}

/* Style the search box input */
.search-box input {
    background: linear-gradient(#1d2821, #1d2128); /* Apply a gradient background */
    box-shadow: 0 10px 15px rgba(47, 104, 38, 0.60); /* Add a shadow to the input field */
    box-sizing: border-box;
    border-radius: 20px; /* Round the corners of the input field */
}

/* Style the search box input for users and tweets */
.search-box .user-box .tweet-box {
    position: relative;
}

/* Style the search box input for tweets */
.search-box .user-box .tweet-box input {
    position: absolute;
    width: 100%;
    padding: 8px 0;
    height: 5%;
    top: 5%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #6ce972; /* Add a green bottom border to the input */
    outline: none;
    background: transparent;
}

/* Style the search box labels */
.search-box .user-box label {
    position: absolute;
    top: -20px; /* Position the label above the input field */
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;
    background: linear-gradient(to right, #80ff90, #80ff90, #ccff33, #ccff33); /* Apply a gradient background to the label text */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
}

/* Move up the search box label when the input is focused or has value
